body {
    background-image: url('/img/background.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.box {
    width: 100%;
    margin: auto;
    /* background-color: black; */
}

header {
    background: rgba(255, 255, 255, 0.75);
    width: 1200px;
    height: 100px;
    text-align: center;
    margin: auto;
}

.d1 {
    padding-top: 10px;
}

nav {
    width: 1200px;
    height: 50px;
    background: rgba(128, 128, 128, 0.445);
    margin: auto;
}

nav li {
    list-style-type: none;
    float: left;
    width: 190px;
    text-align: center;
    /* border: solid 1px white; */
    padding-top: 15px;
}

.d2 {
    width: 1200px;
    height: 700px;
    margin: auto;
    padding-top: 20px;
}

section {
    width: 990px;
    height: 700px;
    background: rgba(255, 255, 255, 0.75);
    float: left;
    margin-right: 20px;
}

section h2 {
    text-align: center;
}

article {
    width: 180px;
    height: 180px;
    float: left;
    margin: 20px;
    margin-top: 10px;
    padding-left: 20px;
}
 
aside {
    display: inline-block;
    width: 190px;
    height: 700px;
    background: rgba(255, 255, 255, 0.75);
}

aside p {
    text-align: center;
    margin-top: 300px;
    font-size: large;
    font-weight: bold;
}

aside a {
    text-decoration: none;
    color: black;
}

footer {
    clear: both;
    width: 1200px;
    height: 50px;
    background: rgba(128, 128, 128, 0.445);
    margin: auto;
}

footer p {
    color: white;
    text-align: center;
    padding-top: 15px;
}

footer a {
    text-decoration: none;
    color: white;
}

